$border-color: #C0CAD5;

body {
  font-size: 11px;
  line-height: 130%;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}

a {
  color: #2B587A;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.loader {
  background: url(../assets/loader.gif) 50% 50% no-repeat transparent;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: -3px;
}

.datestamp {
  font-size: 10px;
  color: #999;
  display: block;
}

.right {
  float: right;
}

.actions {
  padding: 12px;
}

.btn {
  font-size: 11px;
  margin: 0;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  padding: 4px 14px;
  font-family: tahoma, arial, verdana, Lucida Sans, sans-serif;
  vertical-align: top;
  overflow: visible;
  line-height: 14px;
  border: 1px solid #5980A9;
  border-top-color: #789ABF;
  color: #FFF;
  text-shadow: 0 1px 0 #45688E;
  border-radius: 2px;
  background: #6181a6;
  background: linear-gradient(to bottom, #7a9bbd 0%,#50769e 100%);

  &:hover {
    background: #668aae;
    background: linear-gradient(to bottom, #789abf 0%,#5980a9 100%);
  }

  &:active {
    background: #5e80a5;
    background: linear-gradient(to bottom, #5e80a5 0%,#5e80a5 100%);
  }
}
