doctype html
html ng-app="vk-news"
  head
    title Оповещения VK
    meta charset="utf-8"
    link rel="stylesheet" href="stylesheets/normalize.css"
    link rel="stylesheet" href="stylesheets/styles.css"
    link rel="stylesheet" href="stylesheets/font-awesome.css"
    link rel="stylesheet" href="stylesheets/emoji.css"
    script type="text/javascript" src="javascripts/app.js"
body.popup-page ng-controller="PopupCtrl"
  header
    span.title Оповещения VK
    .pull-right
      span id="clean-up"
        i class="icon-eraser"
      span id="check-all" title="Прочитать все"
        i class="icon-check"
      span id="settings" title="Настройки"
        i class="icon-cog"
  #wrapper
    #notifications
      .item ng-repeat="group in groups"
        .group-image
          a ng-href="group.screen_name | groupLink"
            img ng-src="group.photo" title="{{ group.name }}"
        .item-content
          .group-name
            a ng-href="group.screen_name | groupLink"
              | {{ group.name }}
          .text
            | {{ item.text | formatText }}
          / .append( showAttachments(item.attachments) )
          span.datestamp
            | {{ item.date * 1000 }}
            /  | dateFormat['longDate']
    .actions
      button.btn ng-hide="accessToken" ng-click="authenticate()"
        | Авторизоваться
      button.btn ng-show="accessToken" ng-click="signOut()"
        | Выйти
