<!DOCTYPE html>
<html ng-app="vk-news">
  <head>
    <title>Оповещения VK</title>
    <meta charset="utf-8" />
    <link href="stylesheets/normalize.css" rel="stylesheet" />
    <link href="stylesheets/styles.css" rel="stylesheet" />
    <script src="javascripts/app.js" type="text/javascript"></script>
  </head>
</html>
<body class="options-page" ng-controller="OptionsCtrl">
  <header class="header">
    Оповещения VK<button class="btn right">Очистить список групп</button>
  </header>
  <div id="wrapper">
    <div class="auth-actions" ng-hide="accessToken">
      <button class="btn" ng-click="authenticate()">Авторизоваться</button>
    </div>
    <div class="container" ng-show="accessToken">
      <div class="option-items">
        <div class="item" ng-repeat="group in groups">
          <img ng-src="{{ group.photo }}" /><a class="group-header" ng-href="http://vk.com/{{ group.screen_name }}">{{ group.name }}</a><button class="btn" data-group="{{ group.gid }}" name="removeGroupItem">Отписаться</button>
        </div>
        <div class="item" ng-show="groupForm.editMode">
          <form name="groupForm" ng-submit="saveGroupForm()" novalidate="">
            <input class="form-control" name="groupUrl" ng-model="groupForm.groupUrl" placeholder="Ссылка на группу" type="text" /><input class="btn" type="submit" value="Подписаться" />
            <div class="loader" ng-class="{visible: groupForm.isSaving}"></div>
            <div class="status" ng-class="{visible: groupForm.hasError}">
              {{ groupForm.hasError }}
            </div>
          </form>
        </div>
      </div>
      <button class="btn" ng-click="showGroupForm()">Добавить</button>
    </div>
  </div>
</body>
